---
title: Los Compas | Menu
---
<section class="menu">

  <div class="title">
    <h2>our menu</h2>
    <%# <p>Meat Choice: Asada, Pastor, Carnitas, Chicken</p> %>
    <div class="underline"></div>
  </div>

  <div class="section-menu">

    <article class="menu-item">
      <%= image_tag 'burritos.png', :class => 'photo', :alt => "menu item"%>
      <div class="item-info">
        <header>
          <h4>Burrito Super</h4>  
          <h4 class="price">$14</h4>
        </header>
        <p class="item-text">
          Your choice of meat: Asada, Pastor, Chicken or Carnitas.
          Comes with rice, beans, mozzarella cheese, lettuce, sour cream,
          fresh pico de gallo, avocado, red and green salsa.
        </p>
      </div>
    </article>

    <article class="menu-item">
      <%= image_tag 'burritos.png', :class => 'photo', :alt => "menu item"%>
      <div class="item-info">
        <header>
          <h4>Burrito Regular</h4>  
          <h4 class="price">$12</h4>
        </header>
        <p class="item-text">
          Your choice of meat: Asada, Pastor, Chicken or Carnitas.
          Comes with rice, beans, mozzarella cheese. lettuce, sour cream,
          fresh pico de gallo, housemade spicy sauce.
          
        </p>
      </div>
    </article>

    <article class="menu-item">
      <%= image_tag 'burritos.png', :class => 'photo', :alt => "menu item"%>
      <div class="item-info">
        <header>
          <h4>Burrito California</h4>  
          <h4 class="price">$14</h4>
        </header>
        <p class="item-text">
            Comes with carne asada mozzarella cheese, french fries, sour cream,
           pico de pallo, chipotle aioli, and red and green sauce.
        </p>
      </div>
    </article>

    <article class="menu-item">
      <%= image_tag 'burritos.png', :class => 'photo', :alt => "menu item"%>
      <div class="item-info">
        <header>
          <h4>Burrito Vegetarian</h4>  
          <h4 class="price">$12</h4>
        </header>
        <p class="item-text">
          Comes with rice, beans, mozzarella cheese. lettuce, sour cream,
          fresh pico de gallo, avocado, housemade spicy sauce.
        </p>
      </div>
    </article>

    <article class="menu-item">
      <%= image_tag 'tacos.png', :class => 'photo', :alt => "menu item"%>
      <div class="item-info">
        <header>
          <h4>Tacos</h4>  
          <h4 class="price">$3.50</h4>
        </header>
        <p class="item-text">
          Your choice of meat: Asada, Pastor, Chicken or Carnitas.
          Comes with two corn tortillas, topped with onions and cilantro.
          topped with our house made spicy sauce.
        </p>
      </div>
    </article>

    <article class="menu-item">
      <%= image_tag 'quesadilla.png', :class => 'photo', :alt => "menu item"%>
      <div class="item-info">
        <header>
          <h4>Quesadillas</h4>  
          <h4 class="price">$12</h4>
        </header>
        <p class="item-text">
          Your choice of meat: Asada, Pastor, Chicken or Carnitas.
          Comes with mozzarella cheese, fresh pico de Gallo, sour cream,
          lettuce, housemade spicy sauce, flour tortillas.
        </p>
      </div>
    </article>

    <article class="menu-item">
      <%= image_tag 'quesabirria.PNG', :class => 'photo', :alt => "menu item"%>
      <div class="item-info">
        <header>
          <h4>Quesabirrias</h4>  
          <h4 class="price">$6</h4>
        </header>
        <p class="item-text">
          Housemade Beef-birria.
          Comes with mozzarella cheese, corn tortilla,
          onions, and cilantro.
        </p>
      </div>
    </article>

    <article class="menu-item">
      <%= image_tag 'tortas.png', :class => 'photo', :alt => "menu item"%>
      <div class="item-info">
        <header>
          <h4>Tortas</h4>  
          <h4 class="price">$13</h4>
        </header>
        <p class="item-text">
          Your choice of meat: Asada, Pastor, Chicken or Carnitas.
          Comes with american cheese, red salsa, tomato, onions,
          pickled jalapenos, and telera bread.
        </p>
      </div>
    </article>

    <article class="menu-item">
      <%= image_tag 'burgers.png', :class => 'photo', :alt => "menu item"%>
      <div class="item-info">
        <header>
          <h4>Hamburgers & Fries</h4>  
          <h4 class="price">$14</h4>
        </header>
        <p class="item-text">
          1/3 lb Creek Stone seasoned ground beef cooked to your
          liking.
          Comes with lettuce, tomato,onions, pickles, lemon aioli,
          your choice of pepper jack, american cheese or cheddar cheese,
          and a side of fries.
        </p>
      </div>
    </article>

    <article class="menu-item">
      <%= image_tag 'chips.png', :class => 'photo', :alt => "menu item"%>
      <div class="item-info">
        <header>
          <h4>Chips and Salsa</h4>  
          <h4 class="price">$5.50</h4>
        </header>
        <p class="item-text">
           Corn tortilla that has been deep-fried until crunchy.
        </p>
      </div>
    </article>

    <article class="menu-item">
      <%= image_tag 'rice-beans.png', :class => 'photo', :alt => "menu item"%>
      <div class="item-info">
        <header>
          <h4>Rice & Beans</h4>  
          <h4 class="price">$6</h4>
        </header>
        <p class="item-text">
          Classic Mexican rice and black beans.
        </p>
      </div>
    </article>

    <article class="menu-item">
      <%= image_tag 'fries.png', :class => 'photo', :alt => "menu item"%>
      <div class="item-info">
        <header>
          <h4>Fries</h4>  
          <h4 class="price">$4</h4>
        </header>
        <p class="item-text">
          Cooked to golden brown perfection!.
        </p>
      </div>
    </article>

    <article class="menu-item">
      <%= image_tag 'aguas-frescas.png', :class => 'photo', :alt => "menu item"%>
      <div class="item-info">
        <header>
          <h4>Aguas Frescas</h4>  
          <h4 class="price">$4</h4>
        </header>
        <p class="item-text">
          The Mexican drink agua fresca (“fresh water” or “cool water”) 
          is made with water and fruit.
          Ask us What we have today!
        </p>
      </div>
    </article>

    <article class="menu-item">
      <%= image_tag 'cokes.png', :class => 'photo', :alt => "menu item"%>
      <div class="item-info">
        <header>
          <h4>Mexican Coca-Cola</h4>  
          <h4 class="price">$4</h4>
        </header>
        <p class="item-text">
          Mexican Coca-Cola uses cane sugar. 
        </p>
      </div>
    </article>

    <article class="menu-item">
      <%= image_tag 'jarritos.png', :class => 'photo', :alt => "menu item"%>
      <div class="item-info">
        <header>
          <h4>Jarritos</h4>  
          <h4 class="price">$4</h4>
        </header>
        <p class="item-text">
          Jarritos are available in different delicious fruit flavors.
        </p>
      </div>
    </article>

  </div>  <!-- end of section-menu -->
</section>
