---
title: Los Compas | Menu
---
<section class="menu">

  <div class="title">
    <h2>our menu</h2>
    <p>Meat Choices: Asada, Pastor, Carnitas, Chicken</p>
    <div class="underline"></div>
  </div>

  <div class="section-menu">

    <article class="menu-item">
      <%= image_tag 'burritos.png', :class => 'photo', :alt => "menu item"%>
      <div class="item-info">
        <header>
          <h4>Burrito Super</h4>  
          <h4 class="price">$14</h4>
        </header>
        <p class="item-text">
          Your choices of meat: Asada, Pastor, Chicken or Carnitas.
          Comes with Rice, Beans, Mozzarella cheese. lettuce, Sour Cream,
          Fresh Pico de Gallo, Avocado, Red and Green Salsa.
        </p>
      </div>
    </article>

    <article class="menu-item">
      <%= image_tag 'burritos.png', :class => 'photo', :alt => "menu item"%>
      <div class="item-info">
        <header>
          <h4>Burrito Regular</h4>  
          <h4 class="price">$12</h4>
        </header>
        <p class="item-text">
          Your choices of meat: Asada, Pastor, Chicken or Carnitas.
          Comes with Rice, Beans, Mozzarella cheese. lettuce, Sour Cream,
          Fresh Pico de Gallo, housemade spicy sauce.
          
        </p>
      </div>
    </article>

    <article class="menu-item">
      <%= image_tag 'burritos.png', :class => 'photo', :alt => "menu item"%>
      <div class="item-info">
        <header>
          <h4>Burrito California</h4>  
          <h4 class="price">$14</h4>
        </header>
        <p class="item-text">
            Comes with carne asada Mozzarella cheese, french fries, Sour Cream,
           Pico de Gallo, chipotle aioli, and red and green sauce.
        </p>
      </div>
    </article>

    <article class="menu-item">
      <%= image_tag 'burritos.png', :class => 'photo', :alt => "menu item"%>
      <div class="item-info">
        <header>
          <h4>Burrito Vegetarian</h4>  
          <h4 class="price">$12</h4>
        </header>
        <p class="item-text">
          Comes with: Rice, Beans, Mozzarella cheese. lettuce, Sour Cream,
          Fresh Pico de Gallo, Avocado, housemade spicy sauce. Wrapped with flour tortillas
        </p>
      </div>
    </article>

    <article class="menu-item">
      <%= image_tag 'tacos.png', :class => 'photo', :alt => "menu item"%>
      <div class="item-info">
        <header>
          <h4>Tacos</h4>  
          <h4 class="price">$3.50</h4>
        </header>
        <p class="item-text">
          Your choices of meat: Asada, Pastor, Chicken or Carnitas.
          Comes with: Two corn tortillas, topped with onions and cilantro.
        Topped with our house made spicy sauce.
        </p>
      </div>
    </article>

    <article class="menu-item">
      <%= image_tag 'quesadilla.png', :class => 'photo', :alt => "menu item"%>
      <div class="item-info">
        <header>
          <h4>Quesadillas</h4>  
          <h4 class="price">$12</h4>
        </header>
        <p class="item-text">
          Your choices of meat: Asada, Pastor, Chicken or Carnitas.
          Comes with Mozzarella cheese, Fresh pico de Gallo, Sour Cream,
          lettuce, housemade spicy sauce, flour tortillas.
        </p>
      </div>
    </article>

    <article class="menu-item">
      <%= image_tag 'quesabirria.PNG', :class => 'photo', :alt => "menu item"%>
      <div class="item-info">
        <header>
          <h4>Quesabirrias</h4>  
          <h4 class="price">$6</h4>
        </header>
        <p class="item-text">
          Meat, Housemade Beef-birria.
          Comes with Mozzarella cheese, Corn tortilla,
          onions, and cilantro.
        </p>
      </div>
    </article>

    <article class="menu-item">
      <%= image_tag 'tortas.png', :class => 'photo', :alt => "menu item"%>
      <div class="item-info">
        <header>
          <h4>Tortas</h4>  
          <h4 class="price">$13</h4>
        </header>
        <p class="item-text">
          Your choices of meat: Asada, Pastor, Chicken or Carnitas.
          Comes with American cheese, red salsa, tomato, onions,
          pickled jalapenos, and telera bread.
        </p>
      </div>
    </article>

    <article class="menu-item">
      <%= image_tag 'burgers.png', :class => 'photo', :alt => "menu item"%>
      <div class="item-info">
        <header>
          <h4>Hamburgers & Fries</h4>  
          <h4 class="price">$14</h4>
        </header>
        <p class="item-text">
          1/3 lb Creek Stone seasoned ground beef cooked to your
          liking.
          Comes with Lettuce, tomato,inions, pickles, lemon aioli,
          your choice of pepper jack, American cheese or cheddar cheese,
          and a side of fries.
        </p>
      </div>
    </article>

    <article class="menu-item">
      <%= image_tag 'chips.png', :class => 'photo', :alt => "menu item"%>
      <div class="item-info">
        <header>
          <h4>Chips and Salsa</h4>  
          <h4 class="price">$5.50</h4>
        </header>
        <p class="item-text">
           corn tortilla that has been deep-fried until crunchy.
        </p>
      </div>
    </article>

    <article class="menu-item">
      <%= image_tag 'rice-beans.png', :class => 'photo', :alt => "menu item"%>
      <div class="item-info">
        <header>
          <h4>Rice & Beans</h4>  
          <h4 class="price">$6</h4>
        </header>
        <p class="item-text">
          The classic  Mexican rice and black beans.
        </p>
      </div>
    </article>

    <article class="menu-item">
      <%= image_tag 'fries.png', :class => 'photo', :alt => "menu item"%>
      <div class="item-info">
        <header>
          <h4>Fries</h4>  
          <h4 class="price">$4</h4>
        </header>
        <p class="item-text">
          They are prepared by cutting potatoes into even strips and frying them.
        </p>
      </div>
    </article>

    <article class="menu-item">
      <%= image_tag 'aguas-frescas.png', :class => 'photo', :alt => "menu item"%>
      <div class="item-info">
        <header>
          <h4>Aguas Frescas</h4>  
          <h4 class="price">$4</h4>
        </header>
        <p class="item-text">
          The Mexican drink agua fresca (“fresh water” or “cool water”) 
          is made with water and fruit.
        </p>
      </div>
    </article>

    <article class="menu-item">
      <%= image_tag 'cokes.png', :class => 'photo', :alt => "menu item"%>
      <div class="item-info">
        <header>
          <h4>Mexican Coca-Cola</h4>  
          <h4 class="price">$4</h4>
        </header>
        <p class="item-text">
          Mexican Coca-Cola uses cane sugar. 
        </p>
      </div>
    </article>

    <article class="menu-item">
      <%= image_tag 'jarritos.png', :class => 'photo', :alt => "menu item"%>
      <div class="item-info">
        <header>
          <h4>Jarritos</h4>  
          <h4 class="price">$4</h4>
        </header>
        <p class="item-text">
          Jarritos are available in different delicious fruit flavors.
        </p>
      </div>
    </article>

  </div>  <!-- end of section-menu -->
</section>
