---
title: Los Compas | Menu
---
 <section class="menu">

    <div class="title">
      <h2>our menu</h2>
      <p>Meat Choices: Asada, Pastor, Carnitas, Chicken</p>
      <P>CASH ONLY</P>
      <div class="underline"></div>
    </div>
    </div>

    <div class="section-menu">
    
      <article class="menu-item">
        <%= image_tag 'burritos.png', :class => 'photo', :alt => "menu item"%>
        <div class="item-info">
          <header>
            <h4>Burrito Super</h4>  
            <h4 class="price">$14</h4>
          </header>
          <p class="item-text">   
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          Ex, fuga vel consequatur culpa est odio suscipit quia! Natus quos,
          </p>
        </div>
      </article>

      <article class="menu-item">
        <%= image_tag 'burritos.png', :class => 'photo', :alt => "menu item"%>
        <div class="item-info">
          <header>
            <h4>Burrito Regular</h4>  
            <h4 class="price">$12</h4>
          </header>
          <p class="item-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          
           
          </p>
        </div>
      </article>

      <article class="menu-item">
        <%= image_tag 'burritos.png', :class => 'photo', :alt => "menu item"%>
        <div class="item-info">
          <header>
            <h4>Burrito California</h4>  
            <h4 class="price">$14</h4>
          </header>
          <p class="item-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          
          </p>
        </div>
      </article>

      <article class="menu-item">
        <%= image_tag 'burritos.png', :class => 'photo', :alt => "menu item"%>
        <div class="item-info">
          <header>
            <h4>Burrito Vegetarian</h4>  
            <h4 class="price">$12</h4>
          </header>
          <p class="item-text">
          </p>
        </div>
      </article>

      <article class="menu-item">
        <%= image_tag 'tacos.png', :class => 'photo', :alt => "menu item"%>
        <div class="item-info">
          <header>
            <h4>Tacos</h4>  
            <h4 class="price">$3.50</h4>
          </header>
          <p class="item-text">
          </p>
        </div>
      </article>

      <article class="menu-item">
        <%= image_tag 'quesadilla.png', :class => 'photo', :alt => "menu item"%>
        <div class="item-info">
          <header>
            <h4>Quesadillas</h4>  
            <h4 class="price">$12</h4>
          </header>
          <p class="item-text">
          </p>
        </div>
      </article>

      <article class="menu-item">
        <%= image_tag 'quesabirria.png', :class => 'photo', :alt => "menu item"%>
        <div class="item-info">
          <header>
            <h4>Quesabirrias</h4>  
            <h4 class="price">$6</h4>
          </header>
          <p class="item-text">
          </p>
        </div>
      </article>

       <article class="menu-item">
        <%= image_tag 'tortas.png', :class => 'photo', :alt => "menu item"%>
        <div class="item-info">
          <header>
            <h4>Tortas</h4>  
            <h4 class="price">$13</h4>
          </header>
          <p class="item-text">
          </p>
        </div>
      </article>

      <article class="menu-item">
        <%= image_tag 'burgers.png', :class => 'photo', :alt => "menu item"%>
        <div class="item-info">
          <header>
            <h4>Hamburgers & Fries</h4>  
            <h4 class="price">$14</h4>
          </header>
          <p class="item-text">
          </p>
        </div>
      </article>

      <article class="menu-item">
        <%= image_tag 'chips.png', :class => 'photo', :alt => "menu item"%>
        <div class="item-info">
          <header>
            <h4>Chips and Salsa</h4>  
            <h4 class="price">$5.50</h4>
          </header>
          <p class="item-text">
          </p>
        </div>
      </article>

      <article class="menu-item">
        <%= image_tag 'rice-beans.png', :class => 'photo', :alt => "menu item"%>
        <div class="item-info">
          <header>
            <h4>Rice & Beans</h4>  
            <h4 class="price">$6</h4>
          </header>
          <p class="item-text">
          </p>
        </div>
      </article>

      <article class="menu-item">
        <%= image_tag 'fries.png', :class => 'photo', :alt => "menu item"%>
        <div class="item-info">
          <header>
            <h4>Fries</h4>  
            <h4 class="price">$4</h4>
          </header>
          <p class="item-text">
          </p>
        </div>
      </article>

      <article class="menu-item">
        <%= image_tag 'aguas-frescas.png', :class => 'photo', :alt => "menu item"%>
        <div class="item-info">
          <header>
            <h4>Aguas Frescas</h4>  
            <h4 class="price">$3.50</h4>
          </header>
          <p class="item-text">
          </p>
        </div>
      </article>
      <article class="menu-item">
        <%= image_tag 'cokes.png', :class => 'photo', :alt => "menu item"%>
        <div class="item-info">
          <header>
            <h4>Coke</h4>  
            <h4 class="price">$4</h4>
          </header>
          <p class="item-text">
          </p>
        </div>
      </article>

      <article class="menu-item">
        <%= image_tag 'jarritos.png', :class => 'photo', :alt => "menu item"%>
        <div class="item-info">
          <header>
            <h4>Jarritos</h4>  
            <h4 class="price">$3.50</h4>
          </header>
          <p class="item-text">
          </p>
        </div>
      </article>

    </div>
  </section>
